.contact {
  background-color: #e8fdff;
  color: rgb(0, 0, 0);
  padding: 20px;
}

.invalid-feedback {
  color: red;
  margin-top: 5px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#get-in-touch h2 {
  text-align: center;
  color: rgb(100, 95, 88);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font: bold;
}

#get-in-touch {
  padding: 50px;
  background-color: #d5baba;
  border-radius: 3%;
}

#get-in-touch p {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

#get-in-touch form input,
#get-in-touch form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#get-in-touch form textarea {
  height: 120px;
}

#get-in-touch form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#get-in-touch form button:hover {
  background-color: #45a049;
}

.success-message{
  text-align: center;
  color: green;
}