.home {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  color: white;
  padding: 20px;
  height: 70vh !important;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 0px 0px var(--white);
  width: 290px;
  height: 290px;
  border-radius: 30%;
  margin: 0 0px 0 100px;
  margin-top: 50px;
  /* margin-left: 20px; */
}

.home p {
  font-size: 20px;
  font: bold;
  font-weight: bold;
  font-style: oblique;
}

.text-container {
  /* flex: 1; */
  text-align: center;
  margin-left: 150px;
  color: #3a2d2d;
}

.text-container h1 {
  font-size: 30px;
  font: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 20px;
}

.text-container h2 {
  font: bold;
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
}

.text-container h3 {
  font: bold;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
}

.image-background {
  height: 92%;
  width: 92%;
  background-size: cover;
  border-radius: 30%;
  background-repeat: no-repeat;
  background-position: center;
}
.nameColor {
  color: #dd3a3a;
}

.profile-image:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

.home-resume {
  font: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.buttonResume {
  display: inline-block;
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  border: 2px solid #050505;
}

.buttonResume:active {
  transform: translateY(2px);
}

.buttonResume:hover {
  color: #ff5823;
  border: 2px solid #050505;
  background-color: cornsilk;
}

.btnHireMe {
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  margin-right: 20px;
  background-color: #050505;
  color: #ffffff;
}

.btnHireMe:active {
  transform: translateY(2px);
}

.btnHireMe:active:hover {
  color: #ffffff;
  border: 2px solid #dd3a3a;
  background-color: rgb(153, 145, 145);
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: yellow;
  }
  100% {
    color: orange;
  }
}

.color-changing h1 {
  animation: colorChange 5s infinite;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  padding-left: 0%;
}

.social-media a:hover {
  transform: scale(1.5);
}
