.testimonials {
  padding: 20px;
  text-align: center;
  color: #333;

  margin-bottom: 20px;
}

.testimonials h2 {
  text-align: center;
  color: rgb(100, 95, 88);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font: bold;
}

.testimonial-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.testimonial {
  background-color: #756d6d;
  border-radius: 3%;
}

.testimonial h3 {
  margin-bottom: 10px;
  color: #fff;
}

.testimonial p {
  color: #e0d7d7;
  background-color: #373737;
  padding: 20px;
  list-style: none;
  border-radius: 25px;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 30px;
  color: white;
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
}

.testimonial-form {
  margin: 0 auto;
  background-color: #c3c0c0;
  border-radius: 10px;
}

.testimonial-form h3 {
  margin-bottom: 10px;
  text-align: center;
  color: rgb(100, 95, 88);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font: bold;
}

.testimonial-form .form-group {
  margin-bottom: 20px;
}

.testimonial-form label {
  display: block;
  margin-bottom: 5px;
  font: bold;
  text-align: left;
  margin-left: 85px;
}

.testimonial-form input,
.testimonial-form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.testimonial-form textarea {
  height: 120px;
}

.testimonial-form button {
  background-color: #4e4a4a;
  color: #fff;
  display: inline-block;
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 15px;
}

.testimonial-form button:hover {
  background-color: #333;
}

.testimonial-buttons .edit {
  text-align: center;
  font: bold;
  border-radius: 10px;
  padding: 14px 0;
  width: 70px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 5px;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  background-color: rgb(196, 157, 157);
}

.testimonial-buttons .delete {
  text-align: center;
  font: bold;
  border-radius: 10px;
  padding: 14px 0;
  width: 70px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 5px;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
  background-color: rgb(138, 138, 138);
}

.add-testimonial-page h2{
  margin-bottom: 10px;
  text-align: center;
  color: rgb(100, 95, 88);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font: bold;
}

.success-message{
  color: green;
  font: bold;
}